@model List<ZimmetApp.Entities.Models.Musteri>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fa-solid fa-address-book"></i> Müşteri Listesi
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Müşteri Kodu</th>
                            <th class="align-middle text-center">Müşteri Adı</th>
                            <th class="align-middle text-center">Zimmet Sayısı</th>
                            <th class="align-middle text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="@(item.IsDeleted ? "table-danger" : "")">
                                    <td class="align-middle text-center">
                                        @item.MusteriKod
                                    </td>
                                    <td class="align-middle">
                                        @item.MusteriAdi
                                    </td>
                                    <td class="align-middle text-center">
                                        @item.ZimmetTanims.Count()
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="btn-group btn-group-sm"
                                             role="group" aria-label="İşlemler">

                                            <a href="/Musteri/Ekle/?musteri_id=@item.Id"
                                                    class="btn btn-success btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>

                                            @*<button type="button"
                                                        onclick="location.href = '/Musteri/Sil/?id=@item.Id'"
                                                        class="btn btn-danger btn-sm">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>*@

                                            @if (!item.IsDeleted)
                                            {
                                                <button type="button"
                                                        onclick="Sil('@item.Id')"
                                                        class="btn btn-danger btn-sm">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            }


                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">Kayıt Bulunamadı!.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<script>

    function Sil(mutseri_id) {

        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            showDenyButton: true,
            //showCancelButton: false,
            confirmButtonText: 'Evet',
            denyButtonText: 'Hayır',
        }).then((result) => {

            if (result.isConfirmed) {

                location.href = '/Musteri/Sil/?id=' + mutseri_id

            } else if (result.isDenied) {
                //Swal.fire('Changes are not saved', '', 'info')
            }
        })
    }

</script>

