@model List<ZimmetApp.Entities.Models.ZimmetTanim>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var musteriler = ViewBag.Musteriler as List<ZimmetApp.Entities.Models.Musteri>;
}

@section Styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    
}

<div class="row justify-content-center">

    <div class="col-lg-12">
        <div class="card mb-4 mt-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-boxes"></i> Zimmet Filtreleme
            </div>
            <div class="card-body">

                <form method="post" action="/Zimmet/Listele">

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Başlangıç Tarihi</label>
                                <input type="date" class="form-control" name="start"
                                       value="@(TempData["Start"] != null ? Convert.ToDateTime(TempData["Start"]).ToString("yyyy-MM-dd") : DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd"))">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Bitiş Tarihi</label>
                                <input type="date" class="form-control" name="end" 
                                       value="@(TempData["End"] != null ? Convert.ToDateTime(TempData["End"]).ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Müşteri</label>
                                <select class="form-control selectpicker" name="musteri_id"
                                        data-title="Müşteri Seçiniz"
                                        data-live-search="true" data-size="3">
                                    @foreach (var item in musteriler)
                                    {

                                        <option value="@item.Id"
                                                @(TempData["MusterId"] != null && Guid.Parse(TempData["MusterId"].ToString()) == item.Id ? "selected" : "") )>
                                            @item.MusteriAdi
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>


                    <button class="btn btn-primary" type="submit">
                        Sorgula
                    </button>


                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="card mb-4 mt-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-boxes"></i> &nbsp; @ViewBag.MusteriAdi Zimmet Listesi
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="align-middle text-center" width="5%">Tarih</th>
                                <th class="align-middle text-center" width="30%">Açıklama</th>
                                <th class="align-middle text-center">Url</th>
                                <th class="align-middle text-center">Kayıt Kullanıcı Adi</th>
                                <th class="align-middle text-center">Kayıt Telefon No</th>
                                <th class="align-middle text-center">Müşteri</th>
                                <th class="align-middle text-center" width="20%">İrtibat</th>
                                <th class="align-middle text-center">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle text-center">
                                            @item.CreatedAt.ToString("dd.MM.yyyy HH:mm")
                                        </td>
                                        <td class="align-middle" width="30%">
                                            @if (item.Aciklama != null && item.Aciklama.Length > 50)
                                            {
                                                <span>
                                                    @item.Aciklama.Substring(0, 45) ...
                                                </span>

                                                <button type="button" class="btn btn-primary btn-sm"
                                                        onclick="document.getElementById('aciklamaDetayId').innerText = '@item.Aciklama.Replace("'", "`")'"
                                                        data-bs-toggle="modal" data-bs-target="#detayModal">
                                                    Detay
                                                </button>
                                            }
                                            else
                                            {
                                                <span>
                                                    @item.Aciklama
                                                </span>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @item.Url
                                        </td>
                                        <td class="align-middle">
                                            @item.KayitKullaniciAdi
                                        </td>
                                        <td class="align-middle">
                                            @item.KayitTelefonNo
                                        </td>
                                        <td class="align-middle">
                                            @if (item.Musteri != null)
                                            {
                                                <span>
                                                    @item.Musteri.MusteriKod - @item.Musteri.MusteriAdi
                                                </span>
                                            }
                                        </td>
                                        <td class="align-middle">
                                            <small>
                                                @item.Irtibat1<br />
                                                @item.Irtibat2
                                            </small>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="btn-group btn-group-sm"
                                                 role="group" aria-label="İşlemler">

                                                <a href="/Zimmet/Ekle/?zimmet_id=@item.Id"
                                                   class="btn btn-success btn-sm">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>


                                                <button type="button"
                                                        onclick="Sil('@item.Id')"
                                                        class="btn btn-danger btn-sm">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>


                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="detayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Açıklama Detayı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="aciklamaDetayId"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

    <script>

        function Sil(zimmet_id) {

            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                showDenyButton: true,
                //showCancelButton: false,
                confirmButtonText: 'Evet',
                denyButtonText: 'Hayır',
            }).then((result) => {

                if (result.isConfirmed) {

                    location.href = '/Zimmet/Sil/?id=' + zimmet_id

                } else if (result.isDenied) {
                    //Swal.fire('Changes are not saved', '', 'info')
                }
            })
        }

        function DetayDoldur(detay) {

            console.log(detay);

            document.getElementById("aciklamaDetayId").innerText = detay;
        }

        /*new DataTable('#dataTable');*/

        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                responsive: true,
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis'],
                /*"pageLength": 50*/
                //"language": {
                //    "url": "https://cdn.datatables.net/plug-ins/1.13.6/sorting/turkish-string.js"
                //}
            });

            table.buttons().container()
                .appendTo('#dataTable_wrapper .col-md-6:eq(0)');
        });

    </script>


}


