@model List<ZimmetApp.Entities.Models.ZimmetTanim>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fa-solid fa-boxes"></i> Zimmet Listesi
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Tarih</th>
                            <th class="align-middle text-center">Açıklama Kodu</th>
                            <th class="align-middle text-center">Url</th>
                            <th class="align-middle text-center">Kayıt Kullanıcı Adi</th>
                            <th class="align-middle text-center">Kayıt Telefon No</th>
                            <th class="align-middle text-center">Müşteri</th>
                            <th class="align-middle text-center">İrtibat</th>
                            <th class="align-middle text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle text-center">
                                        @item.CreatedAt.ToString("dd.MM.yyyy HH:mm")
                                    </td>
                                    <td class="align-middle">
                                        @item.Aciklama
                                    </td>
                                    <td class="align-middle text-center">
                                        @item.Url
                                    </td>
                                    <td class="align-middle">
                                        @item.KayitKullaniciAdi
                                    </td>
                                    <td class="align-middle">
                                        @item.KayitTelefonNo
                                    </td>
                                    <td class="align-middle">
                                        @if (item.Musteri != null)
                                        {
                                            <span>
                                                @item.Musteri.MusteriKod - @item.Musteri.MusteriAdi
                                            </span>
                                        }
                                    </td>
                                    <td class="align-middle">
                                        <small>
                                            @item.Irtibat1<br />
                                            @item.Irtibat2
                                        </small>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="btn-group btn-group-sm"
                                             role="group" aria-label="İşlemler">

                                            <a href="/Zimmet/Ekle/?zimmet_id=@item.Id"
                                               class="btn btn-success btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>


                                            <button type="button"
                                                    onclick="Sil('@item.Id')"
                                                    class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>


                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">Kayıt Bulunamadı!.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<script>

    function Sil(zimmet_id) {

        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            showDenyButton: true,
            //showCancelButton: false,
            confirmButtonText: 'Evet',
            denyButtonText: 'Hayır',
        }).then((result) => {

            if (result.isConfirmed) {

                location.href = '/Zimmet/Sil/?id=' + zimmet_id

            } else if (result.isDenied) {
                //Swal.fire('Changes are not saved', '', 'info')
            }
        })
    }

</script>

